bin/
obj/
**/*.dll
obj/fsac.cache
obj/fsac.cache
obj/fsnewtry.fsproj.nuget.cache
obj/fsnewtry.fsproj.nuget.dgspec.json
obj/fsnewtry.fsproj.nuget.g.props
obj/project.assets.json
obj/Debug/netcoreapp2.2/fsnewtry.dll
obj/Debug/netcoreapp2.2/fsnewtry.pdb
obj/Debug/netcoreapp2.2/fsnewtry.assets.cache
bin/Debug/netcoreapp2.2/fsnewtry.dll
.ionide/symbolCache.db
bin/Debug/netcoreapp2.2/fsnewtry.pdb
bin/Debug/netcoreapp2.2/fsnewtry.runtimeconfig.dev.json
